<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css01/payment.css">
          <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


</head>
<body>


<div class="container px-0">
        <div class="card px-md-4 px-3 pb-4">
            <div class="d-flex flex-column my-3">
                <p class="h8">Payment method</p>
                <p class="text-muted">Choose your payment method to pay</p>
            </div>
            <div class="payment mb-2">
                <a href="#">
                    <div class="btn btn-primary">
                        <div>
                            <span class="far fa-credit-card pay"></span>
                            <span class="ps-3"> Credit Card</span>
                        </div>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </a>
            </div>
            <div class="payment mb-2">
                <a href="#">
                    <div class="btn btn-primary">
                        <div>
                            <span class="fab fa-paypal pay"></span>
                            <span class="ps-3">PayPal</span>
                        </div>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </a>
            </div>
            <div class="payment mb-2">
                <a href="#">
                    <div class="btn btn-primary">
                        <div>
                            <span class="fab fa-bitcoin pay"></span>
                            <span class="ps-3">Bitcoin</span>
                        </div>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </a>
            </div>
            <div class="payment mb-2">
                <a href="#">
                    <div class="btn btn-primary">
                        <div>
                            <span class="fas fa-university pay"></span>
                            <span class="ps-3">Inernet banking</span>
                        </div>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>





</body>
</html>